# App 
PORT=8000
DEBUG=

# Database
# DB_TYPE should be one of (memory, mongo, postgres)
DB_TYPE=memory
# DB_TYPE=mongo
DATABASE_URI=
DATABASE_NAME=
# DB_TYPE=postgres
# DATABASE_URI=

# JWT
JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=